<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUaXwnNlb_fHmFAe6_HK91LsjZzMwuMo0</string>
	<key>GCM_SENDER_ID</key>
	<string>688130460463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihHack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sih-hack-a3e98</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-hack-a3e98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688130460463:ios:3ef7ed7bf41c5021a8afda</string>
</dict>
</plist>